<template name="customschedule">

<section class="page-container page-home page-static">
	<header class="fixed-title">
		{{> burger}}
		<h2><span class="room-title">{{title}}</span></h2>
	</header>
	<div class="content">
		<div class="ui sizer vertical segment">
		<div class="ui huge header">Monday, October 21st</div>
  			<div class="ui large header">Box n' Burn 10:00AM</div>
			<button class="registerbutton ui toggle button">Sign In</button>
			<div class="ui horizontal divider"><i class="options icon"></i></div>
  			<div class="ui large header">Krav Maga 11:00AM</div>
			<button class="registerbutton ui toggle button">Sign In</button>
			<div class="ui horizontal divider"><i class="options icon"></i></div>
  			<div class="ui large header">Box n' Burn 6:00PM</div>
			<button class="registerbutton ui toggle button">Sign In</button>
			<div class="ui horizontal divider"><i class="options icon"></i></div>
  			<div class="ui large header">Krav Maga 7:00PM</div>
			<button class="registerbutton ui toggle button">Sign In</button>
	</div>

	</div>
	</section>


	
</template>
