<template name="home">
	<section class="page-container page-home page-static">
		<header class="fixed-title">
			{{> burger}}
			<h2>
				<span class="room-title">{{title}}</span>
			</h2>
		</header>
		<div class="content">
			<div class="ui right very wide inverted vertical menu sidebar">
				<div class="ui huge green header">Monday, October 21st</div>
				<div class="item">
					<div class="ui large olive header">Box n' Burn 10:00AM</div>
					<button id="bten" class="registerbutton ui toggle button">Sign In</button>
				</div>
				<div class="item">
					<div class="ui large olive header">Krav Maga 11:00AM</div>
					<button class="registerbutton ui toggle button">Sign In</button>
				</div>
				<div class="item">
					<div class="ui large olive header">Box n' Burn 6:00PM</div>
					<button class="registerbutton ui toggle button">Sign In</button>
				</div>
				<div class="item">
					<div class="ui large olive header">Krav Maga 7:00PM</div>
					<button class="registerbutton ui toggle button">Sign In</button>
				</div>
			</div>
			<div class="pusher">
				<img class="ui fluid image" src="/images/logo/logo.svg">
			    <button class="schedulebutton positive massive ui button">Sign In For Class</button>
			</div>
		</div>
	</section>
</template>
